# Import data

**Run this cell to transform raw file from bb to file without the non-utf8 characters �**

Removes � characters from file

In [1]:
# Open the file in read mode, read its contents, then close it
with open('../data/disaster-tweets.csv', 'r', encoding='utf-8', errors='ignore') as file:
    content = file.read()

# Remove all � characters
content = content.replace('�', '')

# Open the file in write mode and write the modified content back to it
with open('../data/disaster-tweets.csv', 'w', encoding='utf-8') as file:
    file.write(content)

In [2]:
import pandas as pd

data_path = '../data/disaster-tweets.csv'
# read csv, ","-separated

df = pd.read_csv(data_path, sep=',')

# print dimensions
print("Shape of raw data", df.shape)

# print first 2 rows
df.head(2)

Shape of raw data (10876, 13)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,keyword,location,text,tweetid,userid
0,778243823,True,golden,156,NaN,Relevant,1.0,Relevant,NaN,NaN,Just happened a terrible car crash,1.0,NaN
1,778243824,True,golden,152,NaN,Relevant,1.0,Relevant,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,13.0,NaN

In [8]:
# save text, id to csv
df[['text', 'tweetid']].to_csv('texts.csv', index=False, sep=';')

# save all relevant rows to csv, i.e. choose_one = Relevant
df[df['choose_one'] == 'Relevant'][['text', 'tweetid', 'location']].to_csv('relevant.csv', index=False, sep=';')

# Explore data

In [9]:
df.describe()

# missing values
df.isnull().sum()

_unit_id                     0
_golden                      0
_unit_state                  0
_trusted_judgments           0
_last_judgment_at           84
choose_one                   0
choose_one:confidence        0
choose_one_gold          10789
keyword                     87
location                  3638
text                         0
tweetid                      0
userid                      87
dtype: int64

### Result

# Preprocess data

### Select features

In [10]:
raw_features = ['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'choose_one', 'choose_one:confidence',
       'choose_one_gold', 'keyword', 'location', 'text', 'tweetid', 'userid']

features_to_keep = [ 'choose_one', 'keyword', 'location', 'text' ]

df = df[features_to_keep]

### Choose_one

In [11]:
# drop rows with choose_one = 'Can't Decide'
df = df[df['choose_one'] != "Can't Decide"]

# if choose one is relevant, set to 1, else 0
df['choose_one'] = df['choose_one'].apply(lambda x: 1 if x == 'Relevant' else 0)

df['y'] = df['choose_one']
df.drop(columns=['choose_one'], inplace=True, errors='ignore')

df.head()

  keyword location                                               text  y
0     NaN      NaN                 Just happened a terrible car crash  1
1     NaN      NaN  Our Deeds are the Reason of this #earthquake M...  1
2     NaN      NaN  Heard about #earthquake is different cities, s...  1
3     NaN      NaN  there is a forest fire at spot pond, geese are...  1
4     NaN      NaN             Forest fire near La Ronge Sask. Canada  1

### Text processing

In [12]:
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
import string
import re

tokenizer = TweetTokenizer(
    preserve_case=False,
    strip_handles=True,
    reduce_len=True,
)

Stopwords = set(stopwords.words('english'))

def remove_noise(doc):
    filter_words = []

    doc = doc.replace('�', '')

    # # Remove URLs
    doc = re.sub(r'http\S+', '', doc)
    doc = re.sub(r'www\.\S+', '', doc)

    tokenized = tokenizer.tokenize(doc)

    for word in tokenized:
        if (word not in Stopwords 
            and word not in string.punctuation 
            and not word.startswith('#')
            ):

            filter_words.append(word)

    return " ".join(filter_words)
    

df['text'] = df['text'].apply(remove_noise)

print("Dimensions after preprocessing", df.shape)
df.head()

Dimensions after preprocessing (10860, 4)

  keyword location                                               text  y
0     NaN      NaN                        happened terrible car crash  1
1     NaN      NaN                  deeds reason may allah forgive us  1
2     NaN      NaN          heard different cities stay safe everyone  1
3     NaN      NaN  forest fire spot pond geese fleeing across str...  1
4     NaN      NaN              forest fire near la ronge sask canada  1

In [14]:
# save to csv where y=1
df[df['y'] == 1][['text', 'location']].to_csv('preprocessed_relevant.csv', index=False, sep=';')

## Bag of words

In [15]:
# Implement bag of words

import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()


bow = vectorizer.fit_transform(df['text'])

print("Shape of X", bow.shape)

# split into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(bow, df['y'], test_size=0.2, random_state=42)

print("Shape of X_train", X_train.shape)
print("Shape of X_test", X_test.shape)
print("Shape of y_train", y_train.shape)
print("Shape of y_test", y_test.shape)

Shape of X (10860, 16340)
Shape of X_train (8688, 16340)
Shape of X_test (2172, 16340)
Shape of y_train (8688,)
Shape of y_test (2172,)

# Logistic regression model

In [18]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=42, solver='lbfgs').fit(X_train, y_train)

y_pred = clf.predict_proba(X_test)

# get probabilities for class 1
y_pred = y_pred[:, 1]

### Performance metrics

In [19]:
from sklearn.metrics import accuracy_score, precision_score

clipped_y_pred = np.array([1 if x >= 0.5 else 0 for x in y_pred])

accuracy = accuracy_score(y_test, clipped_y_pred)
print("Accuracy on the test set:", accuracy)

precision = precision_score(y_test, clipped_y_pred, pos_label=1)

print("Precision on the test set:", precision)

Accuracy on the test set: 0.7808471454880295
Precision on the test set: 0.7931034482758621

### Exploring results

In [20]:
# map weights to vocabulary
weights = clf.coef_[0]
feature_names = vectorizer.get_feature_names_out()

feature_weights = pd.DataFrame({'feature': feature_names, 'weight': weights})

feature_weights.sort_values(by='weight', ascending=False, inplace=True)

feature_weights.head(20)

          feature    weight
6979    hiroshima  2.358691
5738        fires  2.313306
15919    wildfire  2.163371
15108     typhoon  2.098453
2217      bombing  2.039975
4236   derailment  2.003807
11720   rainstorm  1.865599
4847   earthquake  1.826262
13891       storm  1.808118
5255    evacuated  1.792753
4058       debris  1.691063
10488    outbreak  1.679711
7834        japan  1.648905
6641    hailstorm  1.640701
4731      drought  1.598397
12302     rioting  1.580440
2814   casualties  1.527942
6844         heat  1.526834
13084    shooting  1.525804
9102      massive  1.513089

In [21]:
import numpy as np

df_test = df.iloc[int(0.8*m):]

df_test['y_pred'] = y_pred

incorrectly_classified_indices = np.where(y_pred != y_test)[0]

# select rows df incorrectly_classified_indices
df_test.iloc[incorrectly_classified_indices].to_csv('results/incorrectly_classified_rows.csv', index=False)

# false negatives
false_negatives = np.where((y_pred == 0) & (y_test == 1))[0]

df_test.iloc[false_negatives].to_csv('results/false_negatives.csv', index=False)

# false positives

false_positives = np.where((y_pred == 1) & (y_test == 0))[0]

df_test.iloc[false_positives].to_csv('results/false_positives.csv', index=False)

NameError: name 'm' is not defined